# PyCity Schools Analysis

- Your analysis here
  
---

In [121]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [122]:
# Calculate the total number of unique schools
school_count = school_data_complete.school_name.unique().size
print(f'Number of Schools: {school_count}')

Number of Schools: 15

In [123]:
# Calculate the total number of students
total_students = school_data_complete["Student ID"].unique().size
print(f'Total Students: {total_students}')

Total Students: 39170

In [124]:
# Calculate the total budget
total_budget = sum(school_data_complete["budget"].unique())
print(f'Total Budget: ${total_budget}')

Total Budget: $24649428

In [125]:
# Calculate the average (mean) math score
average_math_score = round(sum(school_data_complete["math_score"])/len(school_data_complete),2)
print(f'Average Math Score: {average_math_score}')

Average Math Score: 78.99

In [126]:
# Calculate the average (mean) reading score
average_reading_score = round(sum(school_data_complete["reading_score"])/len(school_data_complete),2)
print(f'Average Reading Score: {average_reading_score}')

Average Reading Score: 81.88

In [127]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_grade = 70
number_passing = 0
math_scores = school_data_complete["math_score"]
for i in math_scores:
    if i >= passing_grade:
        number_passing = number_passing + 1
percent_passing_math = round(100*(number_passing/len(math_scores)),2)  #rounding for legibility
print(f'Passing Math: %{percent_passing_math}')
number_passing

Passing Math: %74.98

29370

In [128]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading = 0
reading_scores = school_data_complete["reading_score"]
for score in reading_scores:
    if score >= passing_grade:
        passing_reading += 1
percent_passing_reading = round(100*(passing_reading/len(reading_scores)),2)  #rounding for legibility
print(f'Passing Reading: %{percent_passing_reading}')
passing_reading

Passing Reading: %85.81

33610

In [129]:
# Use the following to calculate the percentage of students that passed math and reading
total_passing = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].count()["student_name"]
total_percent_passing = round(100*(total_passing/(len(school_data_complete))),2)
print(f'Passing both Math and Reading: %{total_percent_passing}')

Passing both Math and Reading: %65.17

In [130]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary =pd.DataFrame({
    "Total Number of Unique Schools":[school_count],
    "Total Number of Students":[total_students],
    "Total Budget":[total_budget],
    "Average Math Score":[average_math_score],
    "Average Reading Score":[average_reading_score],
    "% Passing Math":[percent_passing_math],
    "% Passing Reading":[percent_passing_reading],
    "% Overall Passing":[total_percent_passing]
})

# Formatting
district_summary["Total Number of Students"] = district_summary["Total Number of Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Number of Unique Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98,85.81,65.17

## School Summary

In [131]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [132]:
# Calculate the total student count per school from school_data
per_school_counts = school_data.set_index(["school_name"])["size"]
per_school_counts
total_school_budget = school_data.set_index(["school_name"])["budget"]
total_school_budget
school_names = school_data["school_name"]
school_names.sort_values()

7        Bailey High School
6       Cabrera High School
1      Figueroa High School
13         Ford High School
4       Griffin High School
3     Hernandez High School
8        Holden High School
0         Huang High School
12      Johnson High School
9          Pena High School
11    Rodriguez High School
2       Shelton High School
14       Thomas High School
5        Wilson High School
10       Wright High School
Name: school_name, dtype: object

In [133]:
# Calculate the total school budget and per capita spending per school from school_data

per_student_budget = total_school_budget/total_students
per_student_budget
per_school_capita = total_school_budget/per_school_counts
per_school_capita

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [134]:
# Calculate the average test scores per school from school_data_complete

per_school_math_average = school_data_complete.groupby(["school_name"]).mean(["math_score"])

per_school_reading_average = school_data_complete.groupby(["school_name"]).mean(["reading_score"])

per_school_math_average = per_school_math_average["math_score"]
per_school_reading_average = per_school_reading_average["reading_score"]

In [135]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math =school_data_complete.loc[school_data_complete["math_score"]>=70]
school_students_passing_math = students_passing_math.groupby(["school_name"]).count()["student_name"]

students_passing_math
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [136]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = school_data_complete.loc[school_data_complete["reading_score"]>=70]
school_students_passing_reading =students_passing_reading.groupby(["school_name"]).count()["student_name"]

school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [137]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [138]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [139]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary =pd.DataFrame({
    "School Type":school_types,
    "Total Students":per_school_counts,
    "Total School Budget": total_school_budget,
    "Per Student Budget":per_student_budget,
    "Average Math Score":per_school_math_average,
    "Average Reading Score":per_school_reading_average,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading":per_school_passing_reading,
    "% Overall Passing":overall_passing_rate
})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$79.78,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$27.61,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$48.11,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$45.03,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$23.42,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$77.15,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$6.33,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$48.78,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$79.01,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$14.96,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$65.03,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$26.97,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$26.63,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$33.69,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$26.79,83.682222,83.955000,93.333333,96.611111,90.333333

## Highest-Performing Schools (by % Overall Passing)

In [140]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary["% Overall Passing"].sort_values(ascending = False)
top_schools.head(5)

school_name
Cabrera High School    91.334769
Thomas High School     90.948012
Griffin High School    90.599455
Wilson High School     90.582567
Pena High School       90.540541
Name: % Overall Passing, dtype: float64

## Bottom Performing Schools (By % Overall Passing)

In [141]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools =per_school_summary["% Overall Passing"].sort_values()
bottom_schools.head(5)

school_name
Rodriguez High School    52.988247
Figueroa High School     53.204476
Huang High School        53.513884
Hernandez High School    53.527508
Johnson High School      53.539172
Name: % Overall Passing, dtype: float64

## Math Scores by Grade

In [142]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name").mean(["math_score"])
tenth_grade_math_scores = tenth_graders.groupby("school_name").mean(["math_score"])
eleventh_grade_math_scores = eleventh_graders.groupby("school_name").mean(["math_score"])
twelfth_grade_math_scores = twelfth_graders.groupby("school_name").mean(["math_score"])

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame(
    {
        "9th": ninth_grade_math_scores, 
        "10th": tenth_grade_math_scores,
        "11th": eleventh_grade_math_scores, 
        "12th": twelfth_grade_math_scores
    }
)
# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

ValueError: If using all scalar values, you must pass an index

## Reading Score by Grade

In [145]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_scores = ninth_graders.groupby("school_name").mean(["reading_score"])
tenth_grade_scores = tenth_graders.groupby("school_name").mean(["reading_score"])
eleventh_grade_scores = eleventh_graders.groupby("school_name").mean(["reading_score"])
twelfth_grade_scores = twelfth_graders.groupby("school_name").mean(["reading_score"])

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame(
    {
        "9th": ninth_grade_scores, 
        "10th": tenth_grade_scores,
        "11th": eleventh_grade_scores, 
        "12th": twelfth_grade_scores
    }
)

# Minor data wrangling
# reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

ValueError: If using all scalar values, you must pass an index

## Scores by School Spending

In [ ]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_student_budget, spending_bins, labels=labels, right=False)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$79.78,77.048432,81.033963,66.680064,81.933280,54.642283,<$585
Cabrera High School,Charter,1858,"$1,081,356.00",$27.61,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,"$1,884,411.00",$48.11,76.711767,81.158020,65.988471,80.739234,53.204476,<$585
Ford High School,District,2739,"$1,763,916.00",$45.03,77.102592,80.746258,68.309602,79.299014,54.289887,<$585
Griffin High School,Charter,1468,"$917,500.00",$23.42,83.351499,83.816757,93.392371,97.138965,90.599455,<$585
Hernandez High School,District,4635,"$3,022,020.00",$77.15,77.289752,80.934412,66.752967,80.862999,53.527508,<$585
Holden High School,Charter,427,"$248,087.00",$6.33,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,2917,"$1,910,635.00",$48.78,76.629414,81.182722,65.683922,81.316421,53.513884,<$585
Johnson High School,District,4761,"$3,094,650.00",$79.01,77.072464,80.966394,66.057551,81.222432,53.539172,<$585
Pena High School,Charter,962,"$585,858.00",$14.96,83.839917,84.044699,94.594595,95.945946,90.540541,<$585
Rodriguez High School,District,3999,"$2,547,363.00",$65.03,76.842711,80.744686,66.366592,80.220055,52.988247,<$585
Shelton High School,Charter,1761,"$1,056,600.00",$26.97,83.359455,83.725724,93.867121,95.854628,89.892107,<$585
Thomas High School,Charter,1635,"$1,043,130.00",$26.63,83.418349,83.848930,93.272171,97.308869,90.948012,<$585
Wilson High School,Charter,2283,"$1,319,574.00",$33.69,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,"$1,049,400.00",$26.79,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [ ]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

C:\Users\The Jew\AppData\Local\Temp\ipykernel_12660\3377404583.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
C:\Users\The Jew\AppData\Local\Temp\ipykernel_12660\3377404583.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
C:\Users\The Jew\AppData\Local\Temp\ipykernel_12660\3377404583.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
C:\Users\The Jew\AppData\Local\Temp\ipykernel_12660\3377404583.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
C:\Users\The Jew\AppData\Local\Temp\ipykernel_12660\3377404583.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary =pd.DataFrame(
    {
        "Average Math Score" : spending_math_scores,
        "Average Reading Score": spending_reading_scores,
        "% Passing Math": spending_passing_math,
        "% Passing Reading": spending_passing_reading,
        "% Overall Passing": overall_passing_spending
    }
)

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,80.43253,82.529188,80.987054,89.219023,73.27756
$585-630,NaN,NaN,NaN,NaN,NaN
$630-645,NaN,NaN,NaN,NaN,NaN
$645-680,NaN,NaN,NaN,NaN,NaN

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] =pd.cut(per_school_counts, size_bins, labels=labels, right=False)
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$79.78,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$27.61,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$48.11,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$45.03,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$23.42,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$77.15,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$6.33,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$48.78,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$79.01,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$14.96,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$65.03,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$26.97,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$26.63,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$33.69,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$26.79,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [ ]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

C:\Users\The Jew\AppData\Local\Temp\ipykernel_12660\3588142246.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
C:\Users\The Jew\AppData\Local\Temp\ipykernel_12660\3588142246.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
C:\Users\The Jew\AppData\Local\Temp\ipykernel_12660\3588142246.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
C:\Users\The Jew\AppData\Local\Temp\ipykernel_12660\3588142246.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
C:\Users\The Jew\AppData\Local\Temp\ipykernel_12660\3588142246.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary =pd.DataFrame(
    {
        "Average Math Score" : size_math_scores,
        "Average Reading Score": size_reading_scores,
        "% Passing Math": size_passing_math,
        "% Passing Reading": size_passing_reading,
        "% Overall Passing": size_overall_passing
    }
)

# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary =pd.DataFrame(
    {
        "Average Math Score" : average_math_score_by_type,
        "Average Reading Score": average_reading_score_by_type,
        "% Passing Math": average_percent_passing_math_by_type,
        "% Passing Reading": average_percent_passing_reading_by_type,
        "% Overall Passing": average_percent_overall_passing_by_type
    }
)


# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208